@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* @font-face {
  font-family: "Poppins";
  src: url(sansation_light.woff);
} */

* , body{
  font-family: "Poppins";
  font-style: normal;
}

.react-dropdown-select-dropdown-handle {
  display: none; 
}



body {
  color: rgb(var(--foreground-rgb));
  background: 'white';
  
}

.inputotp::placeholder {
  text-align: center; 
}

/* or, for legacy browsers */

.inputotp::-webkit-input-placeholder {
  text-align: center;
}

.inputotp:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

.inputotp::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

.inputotp:-ms-input-placeholder {  
  text-align: center; 
}

/* button header toolbbar calendar custom */

.fc-day-today {
  background:#ebf1ff !important;
  border: none !important;

} 

.fc-prev-button , .fc-next-button , .fc-today-button{
  color: #D6DFF3;
  background-color: #F45B69 !important;
  border-color: white !important;
  border-radius: 10px  !important;

}

.fc-button-group .fc-button-primary:not(:disabled).fc-button-active{
  background-color: #F45B69 !important;
  border-color: white !important;
  color: white !important;
  border-radius: 10px  !important;
}

.fc-button-group .fc-button-primary{
  background-color: white !important;
  color: black !important;
  border-color: transparent !important;
}

.fc-toolbar-title {
  font-size: 18px !important;
}

/* table calendar */
.fc-theme-standard .fc-scrollgrid{
  border: 0px !important;
}
.fc-theme-standard .fc-scrollgrid td{
  /* border-left: 0px solid transparent !important; */
  border-top: 1px solid #B9BBBB !important;
  border-left: 1px solid #B9BBBB !important;
  border-color: #B9BBBB !important;
}

.fc-theme-standard th{

  border-left: 0px solid transparent !important;
  border-right: 0px solid transparent !important;
}

.fc-theme-standard th {
  gap: 12px;
  padding: 4px 0px;
  border: 0px;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}